$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px; 
@mixin mobile { @media (max-width: #{$mobile-width - 1px}) {     
    @content;   
   } 
}  
@mixin tablet { @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {       
    @content;   
  } 
 } 
.project{
    width: 100%;
    height: 1902px;
    background-image: linear-gradient(180deg,#D1CCC4,#DDC0B7);
    @include tablet{
        height: 1602px;
    }
    @include mobile{
        height: 1102px;
    }
    &-container{
        position: relative;
        top: 150px;
        &__title{
            display: flex;
            justify-content: center;
            font-size: 45px;
            color: #3C3E48;
            @include mobile{
                font-size: 28px;
            }
        }
        &-row-1{
            display: flex;
            justify-content: center;
            &v{
                position: relative;
                display: flex;
                left: 85px;
                width: 970px;
                @include tablet{
                    width: 600px;
                }
                @include mobile{
                    position: relative;
                    left: -30px;
                    width: 340px;
                }
                &__info_1{
                    font-family: sans-serif;
                    width: 5000px;
                    height: 50px;
                    font-size: 20px;
                    color: #4E5058;
                    margin-top: 250px;
                    margin-right: 70px;
                    @include tablet{
                        display: none;
                    }
                    @include mobile{
                        display: none;
                    }
                }
                &__img_1{
                    margin-top: 100px;
                    width: 600px;
                    height: 350px;
                    object-fit: contain;
                    @include tablet {
                        position: relative;
                        right: 80px;
                    }
                    @include mobile {
                        position: relative;
                        left: 25px;
                        width: 350px;
                        bottom: 100px;
                    }
                }
                &__caption_1{
                    position: relative;
                    top: 136px;
                    right: 580px;
                    bottom: 200px;
                    opacity: 0;
                    width: 620px;
                    height: 280px;
                    transition: 0.45s;
                    &:hover{
                        transform: translateY(-20px);
                        transition: 0.5s;
                        opacity: 1;
                    }
                }
                &__blur{
                    background-color: rgba(51,47,47,0.65);
                    position: absolute;
                    width:602px;
                    height: 280px;
                    @include tablet{
                        margin-left: -100px;
                        margin-top: 19px;
                    }
                    @include mobile{
                        position: relative;
                        left: 255px;
                        top: -25px;
                        width: 350px;
                        height: 165px;
                    }
                }
                &__caption-text{
                    color:#fff;
                    position: absolute;
                    width: 300px;
                    height: 100%;
                    font-size:18px;
                    display: flex;
                    align-items: center;
                    margin-left: 240px;
                    a{
                        text-decoration: none;
                        color: white;
                    }
                    @include tablet{
                        position: relative;
                        right: 100px;
                    }
                    @include mobile{
                        width: 200px;
                        position: relative;
                        left: 112px;
                        bottom: 250px;
                    }
                }
            }
        }
        &-row-2{
            height: 450px;
            display: flex;
            justify-content: center;
            &v{
                margin-right:200px;
                &__info_2{
                    font-family: sans-serif;
                    width: 400px;
                    height: 50px;
                    font-size: 20px;
                    color: #4E5058;
                    margin-left: 880px;
                    position: relative;
                    top: 160px;
                    @include tablet{
                        display: none;
                    }
                    @include mobile{
                        display: none;
                    }
                }
                &__caption_2{
                    opacity: 0;
                    position: relative;
                    width: 600px;
                    height: 280px;
                    bottom: 320px;
                    left: 214px;
                    transition: 0.45s;
                    @include tablet{
                        width: 300px;
                    }
                    &:hover{
                        transform: translateY(-20px);
                        transition: 0.5s;
                        opacity: 1;
                    }
                    @include mobile{
                        position: relative;
                        width: 200px;
                    }
                } 
                &__img_2{
                    object-fit: contain;
                    margin-left: 15%;
                    height: 350px;
                    width: 600px;
                    @include tablet {
                        position: relative;
                        left: 2.2%;
                    }
                    @include mobile {
                        position: relative;
                        width: 350px;
                        left: 48px;
                        bottom: 220px;
                    }
                }
                &__blur{
                    background-color: rgba(51,47,47,0.65);
                    position: absolute;
                    width:602px;
                    height: 280px;
                    @include tablet{
                        margin-top: 21px;
                        position: relative;
                        right: 100px;
                    }
                    @include mobile{
                        position: relative;
                        left: -114px;
                        top: -142px;
                        width: 350px;
                        height: 165px;
                    }
                }  
                &__caption-text{
                    color:#fff;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    font-size:18px;
                    display: flex;
                    align-items: center;
                    margin-left: 240px;
                    @include tablet {
                        position: relative;
                        bottom: 290px;
                        right: 120px;
                    }
                    @include mobile{
                        width:200px;
                        position: relative;
                        right: 253px;
                        bottom: 365px;
                    }
                    a{
                        text-decoration: none;
                        color: white;
                    }
                }
            }
        }
        &-row-3{
            display: flex;
            justify-content: center;
            @include mobile {
                position: relative;
                bottom: 300px;
            }
            &v{
                display: flex;
                justify-content: flex-end;
                position: relative; 
                &__info_3{
                    font-family: sans-serif;
                    width: 400px;
                    height: 50px;
                    font-size: 20px;
                    color: #4E5058;
                    margin-top: 130px;
                    margin-right: 70px;
                    @include tablet{
                        display: none;
                    }
                    @include mobile{
                        display: none;
                    }
                }
                &__caption_3{
                    margin-right: 20px;
                    margin-top: 35px;
                    opacity: 0;
                    position: absolute;
                    width: 600px;
                    height: 280px;
                    transition: 0.45s;
                    &:hover{
                        transform: translateY(-20px);
                        transition: 0.5s;
                        opacity: 1;
                    }
                }
                &__img_3{
                    object-fit: contain;
                    height: 350px;
                    width: 600px;
                    @include tablet {
                        position: relative;
                        left: 0.5%;
                        bottom: 75px;
                    }
                    @include mobile {
                        right: 0px;
                        position: relative;
                        bottom: 140px;
                        height: 350px;
                        width: 350px;
                    }
                }
                &__blur{
                    background-color: rgba(51,47,47,0.65);
                    position: absolute;
                    width:602px;
                    height: 280px;
                    @include tablet {
                        position: relative;
                        bottom: 75px;
                        margin-top: 20px;
                        margin-left: 20px;
                    }
                    @include mobile{
                        position: relative;
                        left: 268px;
                        top: -60px;
                        width: 350px;
                        height: 165px;
                    }
                    
                }
                &__caption-text{
                    color:#fff;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    font-size:18px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    @include tablet{
                        position: relative;
                        bottom: 360px;
                    }
                    @include mobile{
                        width: 200px;
                        position: relative;
                        left: 348px;
                        bottom: 285px;
                    }
                    a{
                        text-decoration: none;
                        color: white;
                    }
                }
            }
        }
        &-row-4{
            display: flex;
            justify-content: center;
            @include mobile{
                position: relative;
                bottom: 460px;
            }
            &v{
                position: relative; 
                right: 100px;
                &__info_4{
                    font-family: sans-serif;
                    width: 400px;
                    height: 50px;
                    font-size: 23px;
                    color: #4E5058;
                    margin-left: 880px;
                    position: relative;
                    top: 160px;
                    @include tablet{
                        display: none;
                    }
                    @include mobile{
                        display: none;
                    }
                }
                &__caption_4{
                    opacity: 0;
                    position: relative;
                    bottom: 320px;
                    right: -165px;
                    width: 600px;
                    height: 280px;
                    transition: 0.45s;
                    &:hover{
                        transform: translateY(-20px);
                        transition: 0.5s;
                        opacity: 1;
                    }
                    @include mobile{
                        right: 40px;
                        position: relative;
                        width: 300px;
                    }
                }
                &__img_4{
                    margin-left:15%;
                    object-fit: contain;
                    height: 350px;
                    width: 600px;
                    @include tablet {
                        position: relative;
                        left: 2.4%;
                        bottom: 75px;
                    }
                    @include mobile {
                        position: relative;
                        left: 48px;
                        width: 350px;
                        bottom: 100px;
                    }
                }
                &__blur{
                    background-color: rgba(51,47,47,0.65);
                    position: absolute;
                    width:602px;
                    height: 280px;
                    @include tablet {
                        position: relative;
                        bottom: 55px;
                        right: 60px;
                    }
                    @include mobile{
                        position: relative;
                        left: 140px;
                        top: -20px;
                        width: 350px;
                        height: 165px;
                    }
                }
                &__caption-text{
                    color:#fff;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    font-size:18px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    
                    @include tablet{
                        position: relative;
                        bottom: 360px;
                        right: 64px;
                    }
                    @include mobile{
                        position: relative;
                        right: -168px;
                        bottom: 250px;
                    }
                    a{
                        text-decoration: none;
                        color: white;
                    }
                }
            }
        }
    }
}
 
