$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px; 
@mixin mobile { @media (max-width: #{$mobile-width - 1px}) {     
    @content;   
   } 
}  
@mixin tablet { @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {       
    @content;   
  } 
 } 
.project{
    width: 100%;
    height: 1902px;
    background-image: linear-gradient(180deg,#D1CCC4,#DDC0B7);
    @include tablet{
        height: 1602px;
    }
    @include mobile{
        height: 1102px;
    }
    &-container{
        position: relative;
        top: 150px;
        &__title{
            display: flex;
            justify-content: center;
            font-size: 45px;
            color: #3C3E48;
            @include mobile{
                font-size: 28px;
            }
        }
        &-row-1{
            display: flex;
            justify-content: center;
            &v{
                position: relative;
                left: 280px;
                justify-content: space-between;
                display: flex;
                width: 1570px;
                &__info_1{
                    font-family: sans-serif;
                    width: 400px;
                    height: 50px;
                    font-size: 20px;
                    color: #4E5058;
                    margin-top: 250px;
                    margin-right: 70px;
                    @include tablet{
                        display: none;
                    }
                    @include mobile{
                        display: none;
                    }
                }
                &__img_1{
                    margin-top: 100px;
                    width: 600px;
                    height: 350px;
                    object-fit: contain;
                    @include tablet {
                        position: relative;
                        left: 2.5%;
                    }
                    @include mobile {
                        position: relative;
                        left: 30px;
                        width: 350px;
                        bottom: 100px;
                    }
                }
                &__caption_1{
                    position: relative;
                    top: 136px;
                    right: 580px;
                    bottom: 200px;
                    opacity: 0;
                    width: 620px;
                    height: 280px;
                    transition: 0.45s;
                    &:hover{
                        transform: translateY(-20px);
                        transition: 0.5s;
                        opacity: 1;
                    }
                }
                &__blur{
                    background-color: rgba(51,47,47,0.65);
                    position: absolute;
                    width:602px;
                    height: 280px;
                    @include tablet{
                        margin-left: 10px;
                        margin-top: 19px;
                    }
                    @include mobile{
                        position: relative;
                        left: 260px;
                        top: -25px;
                        width: 350px;
                        height: 165px;
                    }
                }
                &__caption-text{
                    color:#fff;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    font-size:18px;
                    display: flex;
                    align-items: center;
                    margin-left: 240px;
                    a{
                        text-decoration: none;
                        color: white;
                    }
                    @include mobile{
                        position: relative;
                        left: 120px;
                        bottom: 250px;
                    }
                }
            }
        }
        &-row-2{
            display: flex;
            justify-content: center;
            &v{
                margin-right:200px;
                &__info_2{
                    font-family: sans-serif;
                    width: 400px;
                    height: 50px;
                    font-size: 20px;
                    color: #4E5058;
                    margin-left: 880px;
                    position: relative;
                    top: 160px;
                    @include tablet{
                        display: none;
                    }
                    @include mobile{
                        display: none;
                    }
                }
                &__caption_2{
                    opacity: 0;
                    position: relative;
                    width: 600px;
                    height: 280px;
                    bottom: 320px;
                    left: 214px;
                    transition: 0.45s;
                    &:hover{
                        transform: translateY(-20px);
                        transition: 0.5s;
                        opacity: 1;
                    }
                } 
                &__img_2{
                    object-fit: contain;
                    margin-left: 15%;
                    height: 350px;
                    width: 600px;
                    @include tablet {
                        position: relative;
                        left: 2.2%;
                    }
                    @include mobile {
                        position: relative;
                        left: 135px;
                        width: 350px;
                        bottom: 220px;
                    }
                }
                &__blur{
                    background-color: rgba(51,47,47,0.65);
                    position: absolute;
                    width:602px;
                    height: 280px;
                    @include tablet{
                        margin-top: 21px;
                        position: relative;
                        right: 110px;
                    }
                    @include mobile{
                        position: relative;
                        left: 10px;
                        top: -142px;
                        width: 350px;
                        height: 165px;
                    }
                }  
                &__caption-text{
                    color:#fff;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    font-size:18px;
                    display: flex;
                    align-items: center;
                    margin-left: 240px;
                    @include tablet {
                        position: relative;
                        bottom: 290px;
                        right: 120px;
                    }
                    @include mobile{
                        position: relative;
                        right: 130px;
                        bottom: 365px;
                    }
                    a{
                        text-decoration: none;
                        color: white;
                    }
                }
            }
        }
        &-row-3{
            display: flex;
            justify-content: center;
            &v{
                display: flex;
                justify-content: flex-end;
                position: relative; 
                bottom: 230px;
                &__info_3{
                    font-family: sans-serif;
                    width: 400px;
                    height: 50px;
                    font-size: 20px;
                    color: #4E5058;
                    margin-top: 130px;
                    margin-right: 70px;
                    @include tablet{
                        display: none;
                    }
                    @include mobile{
                        display: none;
                    }
                }
                &__caption_3{
                    margin-right: 20px;
                    margin-top: 35px;
                    opacity: 0;
                    position: absolute;
                    width: 600px;
                    height: 280px;
                    transition: 0.45s;
                    &:hover{
                        transform: translateY(-20px);
                        transition: 0.5s;
                        opacity: 1;
                    }
                }
                &__img_3{
                    object-fit: contain;
                    height: 350px;
                    width: 600px;
                    @include tablet {
                        position: relative;
                        left: 0.5%;
                        bottom: 75px;
                    }
                    @include mobile {
                        position: relative;
                        bottom: 390px;
                        height: 350px;
                        width: 350px;
                    }
                }
                &__blur{
                    background-color: rgba(51,47,47,0.65);
                    position: absolute;
                    width:602px;
                    height: 280px;
                    @include tablet {
                        position: relative;
                        bottom: 75px;
                        margin-top: 20px;
                        margin-left: 20px;
                    }
                    @include mobile{
                        position: relative;
                        left: 270px;
                        top: -312px;
                        width: 350px;
                        height: 165px;
                    }
                    
                }
                &__caption-text{
                    color:#fff;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    font-size:18px;
                    display: flex;
                    align-items: center;
                    margin-left: 240px;
                    @include tablet{
                        position: relative;
                        bottom: 360px;
                    }
                    @include mobile{
                        position: relative;
                        left: 130px;
                        bottom: 535px;
                    }
                    a{
                        text-decoration: none;
                        color: white;
                    }
                }
            }
        }
        &-row-4{
            display: flex;
            justify-content: center;
            &v{
                position: relative; 
                bottom: 230px;
                right: 100px;
                &__info_4{
                    font-family: sans-serif;
                    width: 400px;
                    height: 50px;
                    font-size: 23px;
                    color: #4E5058;
                    margin-left: 880px;
                    position: relative;
                    top: 160px;
                    @include tablet{
                        display: none;
                    }
                    @include mobile{
                        display: none;
                    }
                }
                &__caption_4{
                    opacity: 0;
                    position: relative;
                    bottom: 320px;
                    right: -165px;
                    width: 600px;
                    height: 280px;
                    transition: 0.45s;
                    &:hover{
                        transform: translateY(-20px);
                        transition: 0.5s;
                        opacity: 1;
                    }
                }
                &__img_4{
                    margin-left:15%;
                    object-fit: contain;
                    height: 350px;
                    width: 600px;
                    @include tablet {
                        position: relative;
                        left: 2.4%;
                        bottom: 75px;
                    }
                    @include mobile {
                        position: relative;
                        left: 135px;
                        width: 350px;
                        bottom: 500px;
                    }
                }
                &__blur{
                    background-color: rgba(51,47,47,0.65);
                    position: absolute;
                    width:602px;
                    height: 280px;
                    @include tablet {
                        position: relative;
                        bottom: 55px;
                        right: 60px;
                    }
                    @include mobile{
                        position: relative;
                        left: 60px;
                        top: -420px;
                        width: 350px;
                        height: 165px;
                    }
                }
                &__caption-text{
                    color:#fff;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    font-size:18px;
                    display: flex;
                    align-items: center;
                    margin-left: 240px;
                    @include tablet{
                        position: relative;
                        bottom: 360px;
                        right: 64px;
                    }
                    @include mobile{
                        position: relative;
                        right: 80px;
                        bottom: 650px;
                    }
                    a{
                        text-decoration: none;
                        color: white;
                    }
                }
            }
        }
    }
}
 
