$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px; 
@mixin mobile { @media (max-width: #{$mobile-width - 1px}) {     
    @content;   
   } 
}  
@mixin tablet { @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {       
    @content;   
  } 
 } 
.introduction{
    width: 100%;
    height: 712px;
    background-color: #C7D4CE;
    display: flex;
    justify-content: center;
    @include mobile{
        height: 512px;
    }
    &-container{
        width: 1070px;
        display: flex;
        align-items: center;
        &-text{
            display: flex;
            flex-direction: column;
            position: relative;
            left: 565px;
            top: 20px;
            height: 533px;
            @include tablet {
                position: relative;
                top: 40px;
                left: 440px;
            }
            @include mobile {
                position: relative;
                top: 10px;
                left: 130px;
            }
            &__title{
                width: 600px;
                margin-top: 30px;
                color: #3C3E48;
                font-size: 45px;
                font-weight: bold;
                @include tablet{
                    font-size: 30px;
                }
                @include mobile{
                    font-size: 30px;
                }
            }
            &-info{
                margin-top: 40px;
                width: 350px;
                margin-right: 248px;
                &__detail{
                    color: #3C9488;
                    font-size: 18px;
                    font-weight: bold;
                    &-1,
                    &-2,
                    &-3,
                    &-4,
                    &-5{
                        color: #4E5058;
                        font-size: 18px;
                    }
                    &-1{
                        margin-left: 80px;
                    }
                    &-2{
                        margin-left: 23px;
                    }
                    &-3{
                        margin-left: 25px;
                    }
                    &-4{
                        margin-left: 60px;
                    }
                    &-5{
                        margin-left: 72px;
                    }
                }
                &__flex{
                    margin-top: 30px;
                    margin-bottom: 30px;
                    list-style: none;
                }
            }
            &__cv{
                margin-top: 60px;
                font-weight: bold;
                background-color: #3C9488;
                width: 150px;
                color: white;
                border: none;
                height: 50px;
                font-size: 20px;
                border-radius: 30px;
                margin-right: 450px;
            }
        }
        &__img{
            position: relative;
            top: 80px;
            right: 596px;
            height: 80%;
            & img{
                width: 400px;
                height: 500px;
                border-radius: 20px;
                object-fit: cover;
                @include tablet{
                    position: relative;
                    width: 300px;
                    object-fit: cover;
                    left: 100px;
                }
                @include mobile{
                    display: none;
                }
            }
        }
    }
}

