$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px; 
@mixin mobile { @media (max-width: #{$mobile-width - 1px}) {     
    @content;   
   } 
}  
@mixin tablet { @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {       
    @content;   
  } 
 } 
.skill{
    width: 100%;
    height: 602px;
    background-image: linear-gradient(180deg,#C7D4CE,#D1CCC4);
    @include mobile{
        height: 1002px;
    }
    &-title{
        @include mobile{
            font-size: 28px;
        }
        position: relative;
        top: 150px;
        display: flex;
        justify-content: center;
        font-size: 45px;
        color:#3C3E48
    }
    &-container{
        display: flex;
        justify-content: center;
        top: 130px;
        position: relative;
        &-row{
            position: relative;
            width: 1070px;
            margin-top: 150px;
            display: flex;
            flex-wrap: wrap;
            height: 600px;
            justify-content: space-between;
            &__1,
            &__2,
            &__3{
                transition: 0.5s;
                width: 330px;
                height: 220px;
                background-color: #D8CEC6;
                box-shadow: 2px 2px 2px 2px #D2C6BF;
               @include tablet{
                    width: 200px;
                    height: 200px;
               }
               @include mobile{
                margin-top: 20px;
               }
                &:hover{
                    @include mobile{
                        transform: scale(1);
                    }
                    transform: scale(1.1);
                    background-color: #3C9488;
                    & .skill-container-row__info{
                        color: white;
                    }
                    & .skill-container-row__icon{
                        fill: white;
                    }
                }
            }
            
            &__1,
            &__3{
                margin-top: 30px;
            }
            &__1{
                @include tablet{
                    position: relative;
                    left: 50px;
                }
                @include mobile{
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    width: 320px;
                }
            }
            &__2{
                @include mobile{
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    width: 320px;
                }
            }
            &__3{
                @include tablet{
                    position: relative;
                    right: 50px;
                }
                @include mobile{
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    width: 320px;
                }
            }
            &__info{
                margin-top: 30px;
                display: flex;
                justify-content: center;
                color: black;
                font-weight: normal;
                font-size: 18px;
            }
            &__icon{
                margin-top: 30px;
                margin-left: 140px;
            }
        }
    }
}

