$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px; 
@mixin mobile { @media (max-width: #{$mobile-width - 1px}) {     
    @content;   
   } 
}  
@mixin tablet { @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {       
    @content;   
  } 
 } 
.contact{
    display: inline-block;
    width: 100%;
    height: 802px;
    background-image: linear-gradient(180deg,#DDC0B7,#E7B6AD);
    @include mobile{
        height: 1150px;
    }
    &__title{
        margin-top: 160px;
        display: flex;
        justify-content: center;
        color: #3C3E48;
        font-size: 45px;
    }
    &-container{
        display: flex;
        justify-content: center;
        &-info{
            width: 1070px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            @include tablet{
                width: 760px;
            }
            @include mobile{
                width: 100%;
            }
            &-1{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 300px;
                margin-top: 130px;
                @include tablet {
                    position: relative;
                    left: 50px;
                }
                @include mobile{
                    position: relative;
                    left: 15%;
                }
                &__border{
                    height: 100px;
                    width: 100px;
                    border-radius: 50%;
                    background-color: #E9BFB6;
                }
                &__icon{
                    margin-top: 35%;
                    margin-left: 35%;  
                }
                &__address{
                    margin-top: 30px;
                }
                &__detail_1{
                    margin-top: 30px;
                    @include tablet {
                        width: 200px;
                        text-align: center;
                    }
                    @include mobile{
                        width: 300px;
                    }
                }
            }
            &-2{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 300px;
                margin-top: 130px;
                @include mobile{
                    position: relative;
                    top: 260px;
                    right: 190px;
                }
                &__border{
                    height: 100px;
                    width: 100px;
                    border-radius: 50%;
                    background-color: #E9BFB6;
                }
                &__icon{
                    margin-top: 35%;
                    margin-left: 35%;  
                }
                &__phone{
                    width: 200px;
                    margin-top: 30px;
                    position: relative;
                    left: 25px;
                }
                &__detail_2{
                    margin-top: 30px;
                }
            }
            &-3{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 300px;
                margin-top: 130px;
                @include tablet {
                    position: relative;
                    right: 50px;
                }
                @include mobile{
                    position: relative;
                    right: 385px;
                    top: 520px;
                }
                &__border{
                    height: 100px;
                    width: 100px;
                    border-radius: 50%;
                    background-color: #E9BFB6;
                }
                &__icon{
                    margin-top: 35%;
                    margin-left: 35%;  
                }
                &__email{
                    margin-top: 30px;
                }
                &__detail_3{
                    margin-top: 30px;
                }
            }
        }
    }
}







