$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px; 
@mixin mobile { @media (max-width: #{$mobile-width - 1px}) {     
    @content;   
   } 
}  
@mixin tablet { @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {       
    @content;   
  } 
 } 
.navbar{
    width: 100%;
    height: 80px;
    background-color: black;
    position: fixed;
    z-index: 100;
    display: flex;
    justify-content: center;
    &__container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 1065px;
        &-brand{
            position: relative;
            width: 182px;
            margin-top: 20px;
            font-weight: bolder;
            font-size: 25px;
            color: white;
            transition: 0.3s;
            @include tablet{
                margin-left: 40px;
            }
            @include mobile{
                margin-left: 16%;
            }
            &:hover{
                color: #3C9488;
            }
        }
        &-nav{
            display: flex;
            flex-direction: row;
            &-item{
                margin-left: 58px;
                margin-top: 24px;
                list-style: none; 
            }
            &-link{
                position: relative;
                display: inline-block;
                text-decoration: none;
                padding: 0 0 2px;
                color: white;
                letter-spacing: 1px;
                text-decoration: none;
                overflow: hidden;
                @include tablet{
                    display: none;
                }
                @include mobile{
                    display: none;
                }
                &::before{
                    content: '';
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    height: 2px;
                    background: #3C9488;
                    transform: translateX(-110%);
                    transition: transform 1s ease;
                }
                &:hover::before{
                    transform: translateX(110%);
                }
            }
        }
        .navbar__container-right{
            display: none;
            @include tablet{
                display: block;
            }
            @include mobile{
                display: block;
                position: relative;
                left: -110px;
            }
            .navbar__container-hamburger{
                position: relative;
                top: 25px;
                right: 50px;
                width: 32px;
                height: 25px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                cursor: pointer;    
                span{
                    width: 100%;
                    height: 3px;
                    background-color: white;
                    transform-origin: left;
                    transition: all 2s ease;
                }
            }
        }
    }
    &.active{
        .navbar__container-hamburger{
            span{
                &:first-child{
                    transform: rotate(45deg);
                }
                &:nth-child(2){
                    opacity: 0;
                }
                &:last-child{
                    transform: rotate(-45deg);
                }
            }
        }
    }
}


    


  


  